{{>header}}
<main class="container">
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="http://{{localhost}}:{{port}}/students">All
            Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://{{localhost}}:{{port}}/courses">All
            Courses</a>
        </li>
      </ul>
    </nav>


    <div class="row">
    {{#each data}}
        <div class="col col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
            <div class="card shadow my-3" style="width: 18rem;">
                <div class="card-body p-3">
                    <h3 class="card-title">{{ this.studentId }} | {{ this.name }}</h3>
                    <a href="http://{{../localhost}}:{{../port}}/students/{{this._id}}">
                        <p>view profile</p>
                    </a>
                    <p class="card-text">{{ this.email }}</p>
                    <a href="#" class="btn btn-link">{{ this.courses.length }} courses</a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</main>
{{>footer}}